body{
font-family:Arial;
background:#111;
color:white;
padding:20px;
}

h1{
color:#66b3ff;
}

.upload{
margin-bottom:20px;
}

button{
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #333;
padding:8px;
text-align:left;
}

th{
background:#222;
}

tr:nth-child(even){
background:#1a1a1a;
}

.good{
color:#2ecc71;
}

.bad{
color:#e74c3c;
}
